html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: azure;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.site-header {
  text-align: center;
}

main {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main label:first-child {
  font-size: 1.4rem;
}

main #enter-message {
  width: 300px;
  height: 30px;
  padding-left: 30px;
}

main #send-msg {
  border-radius: 1rem;
  padding: 5px 9px;
}
